

body {
    font-family: Tahoma;
    border: 0;
    margin: 0;
    background-color: black;
    
}
header {
    background-color: rgba(255, 255, 255, 0.904);
}
.flex-nav {
    background-color: rgba(255, 255, 255, 0.904);
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}


.izq > li {
    float:left;
    list-style-type: none;
    
   }
   
   .izq li a {
    background-color: rgba(255, 255, 255, 0.904);
    color:hsl(0, 0%, 0%);
    text-decoration:none;
    padding:8px;
    display:block;
    
   }
   .izq li a ul{
    
    background-color: rgba(255, 255, 255, 0.904);
    text-decoration:none;
    padding:8px 8px;
    display:block;
    
   }
   
   .izq li a:hover {
    background-color:#434343;
    
   }
   
   .izq li ul {
    display:none;
    position:absolute;
    min-width:40px;
        
   }
   
   .izq li:hover > ul {
    display:block;
    
    
   }
   
   .izq li ul li {
    position: relative;
    margin: 0;
    
   }
   /*por si quiero poner sub sub menu, deberia de andar.. probar)*/
   .izq li ul li ul {
    right:-140px;
    top:0px;
   }
 


.derecha li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 5px;
    margin-right: 15px;
}
.derecha a{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    justify-content: center;
}
.borde{
    border: 1px solid;
    padding: 10px;
}



/* css de los body*/
.caja-padre-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: center;
margin-top: 80px;
}
.body-izq {
    color: ivory;

}
.body-derecha {
    color: ivory;

}